@model CRUD.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="container my-5">
    <h1 class="text-center mb-4 text-primary">Detalles del Producto</h1>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="text-center mb-4">Información del Producto</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DblCantidad)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DblCantidad)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DatFechaRegistro)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DatFechaRegistro)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.StrNombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.StrNombre)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DblPrecio)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DblPrecio)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.StrClave)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.StrClave)
                        </dd>
                    </dl>

                    <div class="text-center mt-4">
                        <a asp-action="Edit" asp-route-id="@Model?.IntProducto" class="btn btn-warning mb-3">Editar Producto</a>
                        <br />
                        <a asp-action="Index" class="btn btn-link">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
