@model IEnumerable<CRUD.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Productos</h1>

<div class="text-end mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.DblCantidad)</th>
            <th>@Html.DisplayNameFor(model => model.DatFechaRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.StrNombre)</th>
            <th>@Html.DisplayNameFor(model => model.DblPrecio)</th>
            <th>@Html.DisplayNameFor(model => model.StrClave)</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DblCantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.DatFechaRegistro)</td>
                <td>@Html.DisplayFor(modelItem => item.StrNombre)</td>
                <td>@Html.DisplayFor(modelItem => item.DblPrecio)</td>
                <td>@Html.DisplayFor(modelItem => item.StrClave)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IntProducto" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IntProducto" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IntProducto" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
